#header {
  color: #DCC620;
  text-align: center;
}

}


}

a:link{
  color: red;
}
a:visited{
  color: green
}
a:hover{
  color: blue
}
h3 {
  font-size: 23px;
}
p {
  font-size: 18px;
}
p {
  font-family: 'MonteCarlo';
}
